
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;


  color: white;
}

:root {
 --secondary-color: rgb(255, 115, 40);
 --third-color: rgb(205, 55, 55);
 scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}


#navbar {
  width: 100vw;
  height: 100px;
  background-color: var(--secondary-color);
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  z-index: 10;
}

#profile-picture {
  border-radius: 15px;
  position: absolute;
  left: 0;
  height: 80%;
  margin-left: 10px;
}

.underline {
  text-decoration: underline;
}

#navbar ul {
  display: flex;
  width: 50%;
  height: 100%;
  list-style: none;
  align-items: center;
  font-size: 20px;
  isolation: isolate;
}
#navbar ul li {
  flex: 1;
}

a {
  text-decoration: none;
}

#about {

  width: 100vw;
  background: url(code_wallpaper.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 30px;
  background-attachment: fixed;
}

#about-title {
  background-color: rgba(58, 58, 58, 0.64);
  padding: 20px;
}

#about-description {
  font-size: 20px;
  margin-top: 30px;
  background: rgba(58, 58, 58, 0.64);
  text-align: center;
  padding: 20px;
}

#about-images {
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#about-container {
  display: flex;
  flex-direction: row;
  max-width: 90vw;
}

.about-thumbnails {
  margin: 20px;
  width: 40vw;
  max-height: 50%;
  flex: 1;
  object-fit: cover;
  object-position: 0 0;

}

#welcome-section {
  background: url(fuzzy.gif);
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-attachment: fixed;
}

#hero-text {
  font-size: 60px;
  text-align: center;
}

#hero-subtitle {
  color: var(--secondary-color);
  font-size: 40px;
  font-weight: 1;
  text-align: center;
}

#project-title {
  background: url(redbuzz.gif);
  background-attachment: fixed;
  text-align: center;
  padding: 15px;
  font-size: 40px;
}


#projects {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  background: url(redbuzz.gif);
  background-attachment: fixed;
  position: relative;
  padding: 30px;
  
}

#projects h1{
  color: white;
}

.project-tile {
  min-width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 15px;
  cursor: pointer;

}

.project-title {
  width: 100%;
  height: 50px;
  background-color: rgba(58, 58, 58, 0.64);
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tetris-game {
  background: url(Tetris-Thumbnail.jpeg);
  background-position: 30% 50%;
}

#arithmetic-arranger {
  background: url(calculator-thumbnail.png);

}

#online-bio {
  background: url(bio-thumbnail.png);
  background-size: cover;
  background-position: 50% 50%;
}

#linux-terminal {
  background: url(mock-linux-thumbnail.png);
}

#time_calculator {
  background: url(time-calculator-thumbnail.png);
}

#contact {
  background: url(fuzzy.gif);
  padding: 30px;
  font-size: 80px;
  background-attachment: fixed;
  text-align: center;
}

#contact-header {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}


#contact i:hover {
  color: var(--secondary-color);
}

#certifications {
  background: url(bluebox.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  padding: 20px;
}

#certificates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#certifications-header {
  font-size: 40px;
  padding: 10px;
  background: rgba(58, 58, 58, 0.696);
}

.certificate {
  width: 100%;
  min-width: 300px;
  max-width: 500px;
}



.slider-button {
  cursor: pointer;
  border: none;
  outline: none;
  height: 100px;
  position: relative;
  isolation: isolate; /* If ommitted, child pseudo element will be stacked behind */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-button::before {
  content: "";
  position: absolute;
  background-color: rgb(234, 88, 10);
  top: 0%;
  left: 110%;
  right: 10%;
  bottom: 0%;
  transition: left 500ms ease-out;

  z-index: -1;
}

.slider-button:hover::before {
  left: 10%;
}

.slider-button a {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  
}

.checkbtn {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;

 }

 #hamburger-check:checked ~ .nav-mobile {
  display: flex;
 }

 #hamburger-check {
  display: none;
 }

.nav-mobile {
  right: 0;
  top: 100%;
  height: 240px;
  flex-direction: column;
  text-align: center;
  width: 200px;
  position: absolute;
  background-color: rgb(255, 115, 40);
  display: none;
  justify-content: center;
}

.nav-mobile a {
  flex: 1;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  position: relative;
  isolation: isolate;
}

.nav-mobile a::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0%;
  background-color: rgb(234, 88, 10);
  z-index: -1;
  transition: left 500ms ease-out;
}

.nav-mobile a:hover::before {
  left: 00%;
}

.popup {
  height: 80vh;
  width: 80vw;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 12;
  margin: 10vh 10vw;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
}

.popup-title {
  background: rgba(58, 58, 58, 0.696);
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
}

.popup-description {
  background: rgba(58, 58, 58, 0.696);
  display: block;
  padding: 10px;
}

.popup-exit {
  z-index: 11;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.584);
  cursor: pointer;
}

/* mobile */
@media screen and (max-width: 768px) {

  .popup {
    background-position: center;
    position: scroll;
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
    margin-bottom: 0;
    height: 90vh;
  }

  #welcome-section {
    height: 600px;
  
  }
  #about-container {
    position: relative;
    display: block;
    flex-direction: column;
  }

  #about-images {
    flex-direction: row;
  }

  #navbar ul {
    display: none;
  }

  #certifications, #contact, #projects, #project-title, #welcome-section, #about, a#navbar {
  background-attachment: scroll;
  }
}

@media (min-width: 1024px) {
  /* Styles for screens larger than or equal to 1024px */

  .checkbtn{
    display: none;
  }

  #scratch-thumbnail {
    width: 0px;
    height: 0px;
    margin: 0;
  }

 
  .about-thumbnails {
    align-items: center;
  }

  #html-thumbnail {
    flex: 0;
    width: 400px;
    height: 100px !important;
    object-fit: cover;
    margin-top: 60px;
  }
}

